@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:opsz@14..32&family=Lexend:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;





* {
 /* border: 1px solid white; */
}

html { 
    overflow-x: hidden;
    max-width: 100vw;
}
.no-overflow {
    max-width: 100vw;
    /* overflow-x: hidden; */
}

/* .flex {
    border: 1px solid red;
} */

@layer base {
    :not(pre) > code {
        @apply px-1 py-0.5 font-mono rounded bg-neutral-900 text-yellow-200;
        font-size: 0.9em;
    }

    h1 {
        @apply mb-6 text-4xl font-bold tracking-tight md:text-5xl;
    }
  :root {
        --radius: 0.5rem;
    }
}

a {
    @apply underline
}


.markdown {
    @apply mb-1;
}

.alert .markdown {
    @apply mb-0;
}

.markdown p {
    @apply mb-3;
}

.btn:disabled {
    @apply text-neutral-400 bg-neutral-700;

}

.typewriter {
    display: flex;
    
}
.typewriter p {
    float: left;
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid white;
    animation: typing 2.5s steps(22),
    blink 1s step-end infinite;

}
.delay {
    animation-delay: 5s;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width:100%
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.masked {
    width: 100%;
    height: 100%;
    background: inherit; /* Inherit the gradient from the body */
    -webkit-mask-image: radial-gradient(circle, black 50%, transparent 51%);
    -webkit-mask-size: 50px 50px; /* Size of each cube */
    -webkit-mask-repeat: repeat;
    mask-image: radial-gradient(circle, black 50%, transparent 51%);
    mask-size: 50px 50px; /* Size of each cube */
    mask-repeat: repeat;
  }

/* @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-in {
    opacity: 0; 
    animation: fadeIn 1s ease-in-out 2s forwards; 
} */


:root{
    --overlay-color-1: #ff0000;
    --overlay-color-2: #0000ff;
    --anim-duration: 2s;
}

#gradient {
    opacity: 0.8;
    background: none;
}

#gradient:after,
#gradient:before {
    content: '';
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

#gradient:before {
    background: linear-gradient(135deg, var(--overlay-color-2) 0%, var(--overlay-color-1) 100%);
    animation: OpacityAnim var(--anim-duration) ease-in-out 0s infinite alternate;
}

#gradient:after {
    background: linear-gradient(135deg, var(--overlay-color-1) 0%, var(--overlay-color-2) 100%);
    animation: OpacityAnim var(--anim-duration) ease-in-out calc(-1 * var(--anim-duration)) infinite alternate;
}

@keyframes OpacityAnim {
    0%{opacity: 1.0}
    100%{opacity: 0.0}
}