@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;





* {
 /* border: 1px solid white; */
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* .flex {
    border: 1px solid red;
} */

@layer base {
    :not(pre) > code {
        @apply px-1 py-0.5 font-mono rounded bg-neutral-900 text-yellow-200;
        font-size: 0.9em;
    }

    h1 {
        @apply mb-6 text-4xl font-bold tracking-tight md:text-5xl;
    }
  :root {
        --radius: 0.5rem;
    }
}

a {
    @apply underline
}


.markdown {
    @apply mb-1;
}

.alert .markdown {
    @apply mb-0;
}

.markdown p {
    @apply mb-3;
}

.btn:disabled {
    @apply text-neutral-400 bg-neutral-700;

}

.typewriter {
    display: flex;
    
}
.typewriter p {
    float: left;
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid white;
    animation: typing 2.5s steps(22),
    blink 1s step-end infinite;

}
.delay {
    animation-delay: 5s;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width:100%
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.masked {
    width: 100%;
    height: 100%;
    background: inherit; /* Inherit the gradient from the body */
    -webkit-mask-image: radial-gradient(circle, black 50%, transparent 51%);
    -webkit-mask-size: 50px 50px; /* Size of each cube */
    -webkit-mask-repeat: repeat;
    mask-image: radial-gradient(circle, black 50%, transparent 51%);
    mask-size: 50px 50px; /* Size of each cube */
    mask-repeat: repeat;
  }

/* @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-in {
    opacity: 0; 
    animation: fadeIn 1s ease-in-out 2s forwards; 
} */


